body{
    background-color: aqua;
}
p{
    font-style: italic;
    color: crimson;

}
button{
    color: #e9c93cec;
    size: 0cqw;
}
input{
    align-content: center;
    color: blue;
}
body{
align-items: center;